@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black-color: #000000;
    --grey-color: #101010;
    --grey2-color: #383635;
    --grey3-color: #383635;
    --grey4-color: #939393;
    --white-color: #ffffff;
    --green-color: #6fc13e;
    --yelow-color: #ff8e00;
    --red-color: #dc001c;

    --mobile: 320px;
    --tablet: 768px;
    --desktop: 932px;
}

body {
    color: var(--white-color);
    font-size: 16px;
    background-color: var(--black-color);
}

main {
    font-size: 14px;
}

h1 {
    position: relative;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

@media (min-width: 768px) {
    h1 {
        position: relative;
        font-weight: 700;
        font-size: 2.349rem;
        line-height: 2.5rem;
    }
}

.subheading {
    letter-spacing: 0.2px;
    font-weight: 300;
}

input {
    line-height: 1.5rem;
    font-size: .7rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid var(--white-color);
    background-color: var(--white-color);
    color: var(--black-color);
    outline: none;
    transition: border-color 0.2s ease-in-out;
    font-weight: 500;
}

input::placeholder {
    font-weight: 400;
    color: var(--grey4-color);
}

@media (min-width: 768px) {
    input  {
        font-size: .8rem;
    }
}


input:focus::placeholder {
    color: transparent;
}

